/* Landing
====================== */
.landing {
  background-image:url("../images/escheresque_ste.png");
  background-size:auto;
  height:100vh;
  padding-top:25vh;
}

.landing h1, .landing a{
  color:ghostwhite;
  text-decoration:none;
  opacity:0.9;
}

.landing a:hover{
  color:#FF0092;
}

.landing h1{
  margin-bottom:2em;
}

/* Nav Chevrons
====================== */
.chevron-top{
  width:100%;
  text-align:center;
}

.chevron-top img{
  width:4em;
}

.chevron-bottom{
  width:100%;
  text-align:center;
  position:absolute; /* Relative to wrapping div eg. "about" */
  bottom:0;
}

.chevron-bottom img{
  width:4em;
}

/* About
====================== */
.about{
  /*height:100vh;*/
  position:relative;
}

.about-img img{
  width:100%;
  border:1px solid darkgray;
}

.about-img{
  padding-top:4.5em;
}

/* Portfolio
====================== */
.portfolio{
  /*height:100vh;*/
  position:relative;
}

.portfolio img{
  width:100%;
  border:1px solid darkgray;
}

.portfolio img:hover{
  box-shadow: 0 0 10px #FF0092;
}

/* Contact
====================== */
.contact{
  /*height:100vh;*/
  position:relative;
}

.send-form:active{
  background: #FF0092;
  border-color: #FF0092;
  color:white;
}

.contact h4{
  display:inline;
}

.contact a{
  color:black;
}

i {
  margin-left:1em;
}

i:hover {
  color:#FF0092;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus{
  border-color:#FF0092;
}

/* Contact
====================== */
.footer {
  color:gray;
  border-top:1px solid lightgray;
  padding-top:2em;
}

/* Media Queries
====================== */
@media (max-width:768px){
  .about-img{
    padding-top:0;
  }

  .portfolio-row-2{
    margin-top:0em;
  }
}
